@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  color-scheme: light;
}

/* Custom utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}